.cover-body {
    background-image: url("/assets/images/cover-page-background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0px;
}

.cover-header {
    background-color: gray;
    height: 10vh;
}

.cover-title-bar {
    padding-top: 15px;
    text-align: center;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.cover-card {
    border: solid red;
    height: 60vh;
    width: 30vw;
    align-self: center;
}

.cover-instructions {
    border: solid red;
}