* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

a {
    text-decoration: none;
    color: rgb(61, 146, 201);
}
a:hover,
a:focus {
    text-decoration: underline;
}

h3 {
    font-weight: 100;
}

/* LAYOUT CSS */
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#search-bttn {
    color: #1b6a82;
}

#layout {
    padding: 0;
}

.header {
    text-align: center;
    top: auto;
    margin: 3em auto;
}

.sidebar {
    background-image: url('https://www.foodandwine.com/thmb/NudJFXaZpng3_m_YkvMMVI2fyQo=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/kansas-city-cocktails-swordfish-ft-blog0518-d28aeedd84b346dcb6ab54a5f1e7f4bc.jpg');
    background-position: top;
    color: #fff;
}
/* rgb(18, 46, 102) */
.brand-title,
.brand-tagline {
    margin: 0;
}
.brand-title {
    text-transform: uppercase;
    color: white;
}
.brand-tagline {
    font-weight: 300;
    color: rgb(176, 202, 219);
}


.content-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.content {
    padding: 2em 1em 0;
}


.post-images {
    margin: 1em 0;
}
.post-image-meta {
    margin-top: -3.5em;
    margin-left: 1em;
    color: #fff;
    text-shadow: 0 1px 1px #333;
}

.footer {
    padding: 1em 0;
}
.footer a {
    color: #ccc;
    font-size: 80%;
}


li {
    list-style-type: none;
    padding: 8px;
}


* {
    box-sizing: border-box;
  }
  
  body {
    background: #f1f1f1;
    margin: 2rem;
  }
  



  * {
    margin: 0;
    padding: 0;
  }
  
  body {
    background: #333;
    color: #fff;
  }
  
  h1 {
    margin:40px 0 0;
    font-size: 40px;
  }
  
  p.expertise {
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 24px;
  }
  
  .container {
    width: 550px;
    height: 300px;
    margin: 50px auto 0;
    border: 5px solid rgb(28, 28, 28);
    background: #1b6a82;
    display: inline-block;
    grid-template-columns: 200px auto;
  }
  
  .profile-pic img {
    display: border-box;
    width: 50px;
    margin: 20px;
    border: 5px solid rgb(40, 39, 39);;
  }
  
  .information {
    box-sizing: border-box;
    padding: 20px 40px 20px 50px;
    justify-content: center;
    align-items: center;
    text-align: left;
    text-overflow: scroll;
    overflow-x: auto;
    white-space: nowrap;
  }

  
 